# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Database
*.db
*.sqlite

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/

# Firebase
firebase-service-account.json
